<li>
    <a *ngIf="node.abstracto">
        <i class="fa" [ngClass]="node.icono"></i>
        <span class="nav-label" *ngIf="node.nivel == 0">{{node.nombre}}</span>
        <object *ngIf="node.nivel != 0">{{node.nombre}}</object>
        <span class="fa arrow"></span>
    </a>

    <ul *ngFor="let node of node.nodes | orderBy : 'orden'" class="nav nav-second-level">
        <li ui-sref-active="active" *ngIf="!node.abstracto">
            <a [routerLink]="['/',node.url]"><span class="fa" [ngClass]="node.icono"  style="margin-right: 10px;"></span>{{node.nombre}}</a>
        </li>
        <app-navigation-renderer class="nav" [menu]="node" *ngIf="node.abstracto"></app-navigation-renderer>
    </ul>
</li>