<div class="col-md-12">
    <div class="wrapper wrapper-content row fadeInRight">
        <div class="row">

            <div class="col-md-12">
                <div class="ibox">
                    <div class="ibox-content text-center">
                        <img src="assets/images/aserwiki-01.png" width="100%">
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="ibox">
                    <div class="ibox-content text-center">
                        <img src="assets/images/asertec-welcome.png" width="25%">
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="clearfix"></div>