<div class="wrapper wrapper-content fadeInRight">
    <div class="row">
        <div class="col-md-12">
            <div class="ibox">
                <div class="ibox-content">
                    <form class="form-horizontal" novalidate on-submit="save(f)" #f="ngForm">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-12 text-right">
                                        <button type="on-submit" ng-hide="!view" class="btn btn-w-m btn-primary">
                                          <span> Guardar</span>
                                        </button>
                                        <button type="button" class="btn btn-w-m btn-default" (click)="goBack()">
                                          <span>Cancelar</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2"></div>
                                <div class="col-md-8">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <app-radio-button> [active]="commissionAgent.persona.esExtranjero"</app-radio-button>
                                            <div class="form-group to-validate">
                                                <div class="col-md-4">
                                                    <label class="control-label pull-right">Documento</label>
                                                </div>
                                                <div class="col-md-8">
                                                    <input appValidation required name="doc" type="text" class="form-control" [(ngModel)]="commissionAgent.persona.documento" disabled>
                                                </div>
                                            </div>
                                            <div class="form-group to-validate" *ngIf="!esJur">
                                                <div class="col-md-4">
                                                    <label class="control-label pull-right">Nombres</label>
                                                </div>
                                                <div class="col-md-8">
                                                    <input appValidation [required]="!esJur" name="nombres" type="text" class="form-control" [(ngModel)]="commissionAgent.persona.nombres">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    <label class="check-label">
                                                      <app-checkbox [active]="commissionAgent.persona.esExtranjero" (activeChange)="commissionAgent.persona.esExtranjero = $event" disabled></app-checkbox>
                                                      <span>Extranjero</span>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="form-group to-validate" *ngIf="!esJur">
                                                <div class="col-md-4">
                                                    <label class="control-label pull-right">Apellidos</label>
                                                </div>
                                                <div class="col-md-8">
                                                    <input appValidation [required]="!esJur" name="apellidos" type="text" class="form-control" [(ngModel)]="commissionAgent.persona.apellidos">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group to-validate" *ngIf="esJur">
                                                <div class="col-md-4">
                                                    <label class="control-label pull-right">Nombres / Razón Social</label>
                                                </div>
                                                <div class="col-md-8">
                                                    <input appValidation [required]="esJur" name="razonSocial" type="text" class="form-control" [(ngModel)]="commissionAgent.persona.razonSocial">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group to-validate">
                                                <div class="col-md-4">
                                                    <label class="control-label pull-right">Correo Electrónico</label>
                                                </div>
                                                <div class="col-md-8">
                                                    <input type="email" name="correo" class="form-control" [(ngModel)]="commissionAgent.persona.correo">
                                                </div>
                                            </div>
                                            <div class="form-group to-validate">
                                                <label class="control-label col-md-4">Celular</label>
                                                <div class="col-md-8">
                                                    <input appValidation type="text" name="celular" class="form-control" ng-minlength="7" [(ngModel)]="commissionAgent.persona.celular">
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <div class="col-md-4">
                                                </div>
                                                <div class="col-md-8">
                                                    <label class="check-label">
                                                      <app-checkbox [active]="commissionAgent.aplicaIva" (activeChange)="commissionAgent.aplicaIva = $event"></app-checkbox>
                                                      <span>Aplica IVA</span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group to-validate">
                                                <div class="col-md-4">
                                                    <label class="control-label pull-right">Código SADEG</label>
                                                </div>
                                                <div class="col-md-8">
                                                    <input appValidation required type="text" name="codigoSadeg" class="form-control" maxlength="3" minlength="2" [(ngModel)]="commissionAgent.persona.codigoSadeg">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-md-4">
                                                    <label class="control-label pull-right">Teléfono</label>
                                                </div>
                                                <div class="col-md-8">
                                                    <input appValidation name="telf" ng-minlength="7" class="form-control" type="text" [(ngModel)]="commissionAgent.persona.telefono">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-md-12"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                    <div class="row">
                        <div class="col-md-12">

                            <button type="button" class="btn btn-w-m btn-info pull-right" style="margin-bottom: 5px" *ngIf="!view" (click)="addCommission()">
                              <i class="fa fa-plus"></i><span> Agregar Comisión</span>
                            </button>
                            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped table-bordered table-hover" ng-class="commissionAgent.comisiones == null || commissionAgent.comisiones.length == 0 ? 'empty-table' : ''">
                                <thead>
                                    <tr>
                                        <th width="15%" class="text-left">Aseguradora</th>
                                        <th width="10%" class="text-left">Ramo</th>
                                        <th width="15%" class="text-left">Persona</th>
                                        <th width="15%" class="text-left">Tipo de Movimiento</th>
                                        <th width="10%" class="text-right">% Comisión</th>
                                        <th width="10%" class="text-left">Tipo Comisión</th>

                                        <th width="11%" class="text-center">Fecha Creación</th>
                                        <th width="2%" class="text-center">Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of commissionAgent.comisiones">
                                        <td class="text-left">
                                            {{item.aseguradorasTodas ? 'Todos' : item.aseguradora.persona.nombreCompleto}}
                                        </td>
                                        <td class="text-left">
                                            {{item.ramosTodos ? 'Todos' : item.ramo.nombre}}
                                        </td>
                                        <td class="text-left">
                                            {{item.persona != null ? item.persona.nombreCompleto : ''}}
                                        </td>
                                        <td class="text-left">
                                            {{item.movimientosTodos ? 'Todos' : item.movimiento.nombre}}
                                        </td>
                                        <td class="text-right">
                                            {{item.comision | number: '1.2-2'}}
                                        </td>
                                        <td class="text-left">
                                            {{item.tipoComision.nombre}}
                                        </td>
                                        <td class="text-center">
                                            {{(item.fechaCreacion ? item.fechaCreacion : fechaActual) | date: 'dd/MM/yyyy'}}
                                        </td>
                                        <td class="text-center">

                                            <div *ngIf="!view">
                                                <button class="btn btn-xs btn-danger" (click)="changeStatus(item,t)" #t="ngbTooltip" placement="top" ngbTooltip="Cambiar Estado" [disabled]="!item.estado">
                                                  <i class="fa fa-power-off"></i>
                                                </button>
                                            </div>

                                            <div *ngIf="view">
                                                <button class="btn btn-xs btn-disabled">
                                                  <i class="fa fa-power-off"></i>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>