<div id="header" class="row border-bottom">
    <div class="col-md-1 col-xs-1">
        <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <a class="minimalize-styl-2 btn btn-primary " (click)="toggleNavigation()"><i class="fa fa-bars"></i> </a>
            </div>
        </nav>
    </div>

    <div class="col-md-11 col-xs-11 text-right right-menu">

        <span class="menu-item dropdown" appDropdown>
			<span uib-dropdown-toggle class="cursor-pointer">
				<i class="fa fa-chevron-down"></i>
					<span class="user-name">{{currentUser.persona.nombreCompleto}}</span>
        <i class="fa fa-user fa-lg"></i>
        </span>

        <ul uib-dropdown-menu class="dropdown-menu">
            <li><a (click)="changePassword()">Cambiar Contraseña</a></li>
            <li><a (click)="logout()">Cerrar Sesión</a></li>
        </ul>
        </span>
    </div>

    <div class="clearfix"></div>
</div>