<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sk-spinner sk-spinner-three-bounce" *ngIf="!menuReady" style="margin-top: 20%;">
        <div class="sk-bounce1"></div>
        <div class="sk-bounce2"></div>
        <div class="sk-bounce3"></div>
    </div>

    <div class="sidebar-collapse" full-scroll *ngIf="menuReady">
        <ul side-navigation class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element text-center">
                    <a routerLink="starterview">
                        <img src="{{logoPath}}" width="65%">
                    </a>
                </div>
            </li>
            <app-navigation-renderer class="nav" *ngFor="let node of menusArray | orderBy : 'orden'" [menu]="node"></app-navigation-renderer>
        </ul>
    </div>
</nav>