<div class="inmodal">
    <form class="form-horizontal" role="form" (ngSubmit)="save(f)" #f="ngForm" novalidate>
        <div class="modal-header">
            <i class="fa fa-money modal-icon"></i>
            <h4 class="modal-title">{{ title }}</h4>
        </div>

        <div class="modal-body">

            <div class="form-group">
                <label class="col-md-3 control-label">Sucursal</label>
                <div class="col-md-7">
                    <ng-select name="sucursal" [items]="branchOffices" bindLabel="nombre" [(ngModel)]="search.sucursal" placeholder="Seleccione la Sucursal...">
                    </ng-select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label">Persona</label>
                <div class="col-md-7">
                    <div class="input-group">
                        <input class="form-control" type="text" name="persona" [(ngModel)]="commission.persona.nombreCompleto" read-only disabled>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-success" (click)="addClient()" [disabled]="search.sucursal==null">
                                <i class="fa fa-plus" style="margin-right: 5px;"></i><i class="fa fa-user"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>

            <div class="form-group to-validate">
                <label class="col-md-3 control-label">Aseguradora</label>
                <div class="col-md-7">
                    <ng-select appValidation required name="aseguradora" (change)="searchBranches()" [items]="companies" bindLabel="persona.nombreCompleto" [(ngModel)]="commission.aseguradora" placeholder="Seleccione..." [disabled]="commission.aseguradorasTodas"></ng-select>
                </div>
                <div class="col-md-2">
                    <label class="check-label">
                            <app-checkbox [active]="commission.aseguradorasTodas" (activeChange)="allInsuranceCompanies($event)"></app-checkbox>
                            <span>Todas</span>
                        </label>
                </div>
            </div>

            <div class="form-group to-validate">
                <label class="col-md-3 control-label">Ramo</label>
                <div class="col-md-7">
                    <ng-select appValidation required name="ramos" [items]="branches" bindLabel="nombre" [(ngModel)]="commission.ramo" placeholder="Seleccione..." [disabled]="commission.aseguradorasTodas || commission.ramosTodos"></ng-select>
                </div>
                <div class="col-md-2">
                    <label class="check-label">
                            <app-checkbox [active]="commission.ramosTodos" (activeChange)="commission.ramosTodos = $event" [disabled]="true"></app-checkbox>
                            <span>Todos</span>
                        </label>
                </div>
            </div>

            <div class="form-group to-validate">
                <label class="col-md-3 control-label">Tipo de Movimiento</label>
                <div class="col-md-7">
                    <ng-select appValidation required name="movimiento" [items]="bussinessUnits" bindLabel="nombre" [(ngModel)]="commission.movimiento" placeholder="Seleccione..." [disabled]="commission.movimientosTodos"></ng-select>
                </div>

                <div class="col-md-2">
                    <label class="check-label">
                            <app-checkbox [active]="commission.movimientosTodos" (activeChange)="commission.movimientosTodos = $event; commission.movimiento = null;"></app-checkbox>
                            <span>Todos</span>
                        </label>
                </div>
            </div>



            <div class="form-group to-validate">
                <label class="col-md-3 control-label">Tipo Comisión</label>
                <div class="col-md-7">
                    <ng-select appValidation required name="tipoComision" [items]="commissionTypes" bindLabel="nombre" [(ngModel)]="commission.tipoComision" placeholder="Seleccione..."></ng-select>
                </div>
            </div>

            <div class="form-group to-validate">
                <label class="col-md-3 control-label">Comisión</label>
                <div class="col-md-7">
                    <div class="input-group">
                        <input appValidation type="number" class="form-control" name="comision" [(ngModel)]="commission.comision" ng-min="0" ng-max="100" maxlength="9" step="0.000001" required min="0">
                        <span class="input-group-addon">%</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <div class="form-group">
                <div class="col-md-12 text-right">
                    <button type="submit" class="btn btn-w-m btn-primary">Agregar</button>
                    <button type="button" class="btn btn-w-m btn-default" (click)="cancel()">Cancelar</button>
                </div>
            </div>
        </div>
    </form>
</div>