<div class="wrapper wrapper-content fadeInRight">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <!-- <button class="btn btn-w-m btn-primary pull-right" (click)="addCommissionAgent()">
                        <i class="fa fa-plus"></i><span> Agregar Comisionista</span>
                    </button> -->
                </div>
                <div class="row">
                    <div class="col-md-12"><br></div>
                </div>
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <strong>Buscar</strong>
                        </div>
                        <div class="panel-body">
                            <form id="searchFrm" name="searchFrm" class="form-horizontal" role="form" (ngSubmit)="find()" novalidate>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Nombre / Documento</label>
                                        <div class="col-md-9">
                                            <input class="form-control" placeholder="Nombre, Documento" name="text" type="text" [(ngModel)]="search.text">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Estado</label>
                                        <div class="col-md-9">
                                            <app-status-selector></app-status-selector>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Fecha Creación</label>
                                        <div class="col-md-9">
                                            <div class="row">
                                                <div class="to-validate col-md-6">
                                                    <input appValidation class="form-control" placeholder="Desde" name="startDate" [(ngModel)]="search.startDate" ngbDatepicker #startDate="ngbDatepicker" (click)="startDate.toggle()" data-mask="99/99/9999">
                                                </div>

                                                <div class="to-validate col-md-6">
                                                    <input appValidation class="form-control" placeholder="Hasta" name="endDate" [(ngModel)]="search.endDate" ngbDatepicker #endDate="ngbDatepicker" (click)="endDate.toggle()" data-mask="99/99/9999">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <button type="button" class="btn btn-w-m btn-default pull-right" (click)="clear()" [disabled]="isLoadingSearch">Limpiar</button>
                                            <button type="submit" class="btn btn-w-m btn-primary pull-right" [disabled]="isLoadingSearch">Buscar</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="ibox">
                            <div class="ibox-content position-relative">
                                <app-loading class="text-center" *ngIf="isLoadingSearch"></app-loading>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped table-bordered table-hover">
                                            <thead>
                                                <tr>
                                                    <th width="15%" class="text-left">Documento</th>
                                                    <th width="45%" class="text-left">Nombre</th>
                                                    <th width="15%" class="text-center">Estado</th>
                                                    <th width="15%" class="text-center">Fecha Creación</th>
                                                    <th width="10%" class="text-center">Acciones</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let agent of commissionAgents">
                                                    <td class="text-left">{{agent.documento}}</td>
                                                    <td class="text-left">{{agent.nombreCompleto}}</td>
                                                    <td class="text-center">
                                                        <app-show-status [status]="agent.estado"></app-show-status>
                                                    </td>
                                                    <td class="text-center">{{agent.fechaCreacion | date: 'dd/MM/yyyy'}}</td>
                                                    <td class="text-center">

                                                        <button class="btn btn-warning btn-xs" (click)="EditCommission(agent.id)" placement="top" ngbTooltip="Editar" *ngIf="agent.estado">
                                                                <i class="fa fa-pencil"></i>
                                                            </button>

                                                        <button class="btn btn-xs btn-disabled" placement="top" ngbTooltip="Editar" *ngIf="!agent.estado">
                                                                <i class="fa fa-pencil"></i>
                                                            </button>

                                                        <!-- <button class="btn btn-info btn-xs" (click)="ViewCommission(agent.id)" placement="top" ngbTooltip="Ver">
                                                                <i class="fa fa-eye"></i>
                                                            </button>

                                                        <button class="btn btn-xs" [ngClass]="{'btn-danger': agent.estado, 'btn-primary': !agent.estado}" (click)="changeStatus(agent)" placement="top" ngbTooltip="Cambiar Estado">
                                                                <i class="fa fa-power-off"></i>
                                                            </button> -->

                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="col-md-12 text-right" *ngIf="commissionAgents.length > 0">
                                        <app-pagination [collectionSize]="totalPages" [page]="search.currentPage" (pageState)="pageChanged($event)"></app-pagination>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>