/* Import main Inspinia style */

@import "./style.scss";

/* FIX FOR MODAL GLITCH */

.tooltip {
    opacity: unset !important;
}

label {
    font-size: 12px;
}

.btn {
    margin: 1px;
}

blank router-outlet {
    padding: 20px 10px 40px;
}

.minimalize-styl-2 {
    padding: 4px 12px;
    margin: 14px 5px 5px 20px;
    font-size: 14px;
    float: left;
}

.swal2-popup .swal2-actions.swal2-loading .swal2-styled.swal2-confirm {
    width: 1.5em !important;
    height: 1.5em !important;
    margin: 26px 5px 0 50px !important;
    border-radius: 100%;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.swal2-popup .swal2-title {
    color: #575757 !important;
    font-size: 30px !important;
    text-align: center !important;
    font-weight: 600 !important;
    text-transform: none !important;
    position: relative !important;
    margin: 0px 0px 25px 0px !important;
    padding: 0px !important;
    line-height: 40px !important;
    display: block !important;
}

.swal2-popup .swal2-content {
    color: #797979 !important;
    font-size: 16px !important;
    text-align: center !important;
    font-weight: 300 !important;
    position: relative !important;
    text-align: inherit !important;
    float: none !important;
    margin: 0 !important;
    padding: 0 !important;
    line-height: normal !important;
}

.swal2-icon.swal2-info {
    color: #9de0f6 !important;
}

.swal2-icon {
    width: 80px !important;
    height: 80px !important;
    -webkit-border-radius: 40px !important;
    border-radius: 40px !important;
    border-radius: 50% !important;
    margin: 25px auto !important;
    padding: 0 !important;
    position: relative !important;
    box-sizing: content-box !important;
}

.swal2-popup .swal2-actions {
    margin: 0 !important;
}

.swal2-icon-text {
    padding-top: 12px !important;
    font-size: 50px !important;
}

.swal2-popup .swal2-styled {
    font-size: 17px !important;
    font-weight: 500 !important;
    padding: 10px 32px !important;
    margin: 26px 5px 0 5px !important;
}

.modal-backdrop {
    background-color: rgba(0, 0, 0, 0.5) !important;
}

.modal-backdrop.in {
    opacity: 1 !important;
}

table thead th {
    text-align: center;
    vertical-align: middle !important;
}

table tbody td {
    vertical-align: middle !important;
}

.btn.disabled,
.btn.disabled:hover,
.btn.disabled:focus,
.btn.disabled:active,
.btn.disabled.active,
.btn[disabled],
.btn[disabled]:hover,
.btn[disabled]:focus,
.btn[disabled]:active,
.btn.active[disabled] {
    background-color: #808080;
    border-color: #808080;
    color: #FFFFFF;
}

.btn-all-width {
    width: 100%;
}

.fade.show {
    opacity: 1;
}

.pagination {
    margin: 0;
}

.dataTables_paginate {
    margin: 0;
}

table.dataTable {
    clear: both;
    margin-top: 6px !important;
    margin-bottom: 6px !important;
    max-width: none !important;
}

table.dataTable.no-footer {
    border-bottom: transparent !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    border: 1px solid transparent;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
    margin: 0;
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    color: inherit;
    float: left;
    line-height: 1.42857;
    margin-left: -1px;
    padding: 4px 10px;
    position: relative;
    text-decoration: none;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background-color: #f4f4f4 !important;
    background: #f4f4f4;
    border-color: #DDDDDD;
    color: #333333 !important;
    cursor: default;
    z-index: 2;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    margin: 0;
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    color: inherit;
    float: left;
    line-height: 1.42857;
    margin-left: -1px;
    padding: 4px 10px;
    position: relative;
    text-decoration: none;
}

.badge {
    margin-right: 2%;
}

.label {
    margin-right: 2%;
}

.label-small {
    margin-right: 0;
    padding-left: 4px;
    padding-right: 4px;
}

.ui-select-multiple.ui-select-bootstrap {
    min-height: 34px;
}

.row {
    margin-right: -0.75vw;
    margin-left: -0.75vw;
}

.form-horizontal .control-label {
    padding-left: unset;
    padding-top: unset;
}

.form-horizontal .form-group {
    margin-right: -0.75vw;
    margin-left: -0.75vw;
}

.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
    padding-left: 0.75vw;
    padding-right: 0.75vw;
    padding-bottom: 0.15vw;
    padding-top: 0.15vw
}

.dataTables_wrapper {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-top: 0;
}

.dataTables_wrapper .dataTables_info {
    padding-top: 0;
}

.input-form {
    width: 100%!important;
}

.input-form .ui-select-toggle {
    width: 100%!important;
}

.textarea-no-scroll {
    overflow-x: hidden;
}

.no-auto-required:before {
    content: "" !important
}

;
.check-label {
    padding-top: 7px;
    margin-bottom: 0;
    cursor: pointer;
}

.cursor-pointer {
    cursor: pointer;
}

.bottom-space {
    margin-bottom: 2%;
}

.no-padding {
    padding: unset !important;
}

.no-padding-horizontal {
    padding-left: unset !important;
    padding-right: unset !important;
}

.no-padding-vertical {
    padding-top: unset !important;
    padding-bottom: unset !important;
}

.no-padding-left {
    padding-left: unset !important;
}

.no-padding-right {
    padding-right: unset !important;
}

.no-padding-top {
    padding-top: unset !important;
}

.no-padding-bottom {
    padding-bottom: unset !important;
}

.to-validate.label-required label.control-label:before,
.to-validate.label-required label.control-label:before,
.to-validate .label-required label.control-label:before {
    content: "*";
}

.form-group.to-validate.label-required label.control-label:after,
.form-group .to-validate.label-required label.control-label:after,
.form-group .to-validate .label-required label.control-label:after {
    content: ":";
}

label.check-label:after {
    content: none!important;
}

form label:after,
label:after {
    content: ":";
}

.dataTables_filter label::after {
    content: none;
}

.nav-header,
body.mini-navbar .nav-header {
    background: unset;
}

.ui-select-bootstrap .ui-select-match-text {
    padding-right: 1.5em !important;
}

table.empty-table+div.dataTables_paginate {
    display: none;
}

.fill-screen {
    margin-left: 0px;
    margin-right: 0px;
}

.fill-screen .ibox-content {
    padding: 1% 0%;
}

table.big-table th,
.big-table td {
    padding-left: 0.25% !important;
    padding-right: 0.25% !important;
}

#header .right-menu {
    padding-top: 20px;
    padding-bottom: 15px;
    padding-right: 3%;
    color: #999c9e;
}

#header .right-menu .menu-item {
    font-weight: bold;
    font-size: 1.2em;
    margin-left: 15px;
}

#header .right-menu .menu-item .fa-chevron-down {
    font-size: 0.65em;
}

#header .right-menu .menu-item .user-name {
    font-size: 0.85em;
    margin-right: 0.5%;
    font-weight: 600;
}

#header .right-menu .dropdown-menu {
    left: unset;
    right: 0;
}

#login {
    padding: 2%;
}

#login img.logo {
    max-width: -webkit-stretch;
    margin-top: 10%;
    width: 40%;
}

@media (min-width: 768px) {
    .modal-dialog {
        width: 45vw;
        top: 10vw;
    }
}

@media (min-width: 992px) {
    .modal-lg {
        width: 65vw;
        top: 10vw;
    }
}


/*--------------------------------------------*/

.angular-ui-tree-empty {
    background-color: inherit !important;
    min-height: 100px;
    max-height: 100px;
    height: 100%;
    font: inherit;
    font-family: inherit;
    font-size: 16px;
    text-align: center;
    color: rgb(170, 170, 170);
    padding-top: 38px;
    padding-bottom: 38px;
}

.angular-ui-tree-empty:before {
    content: "No hay resultados con los criterios indicados.";
}

.cusPadInp {
    padding-right: 15px;
    padding-left: 15px;
}

.tableHasError {
    border: 1px solid #a94442 !important;
    border-collapse: initial !important;
}

.withMarginTop {
    margin-top: 20px;
}

.hiddenElement {
    display: none;
}


/* -------------- Icon inside Input -------------------- */

.left-inner-addon {
    position: relative;
}

.left-inner-addon:hover {
    cursor: pointer;
}

.left-inner-addon input {
    padding-left: 30px;
}

.left-inner-addon i {
    position: absolute;
    padding: 10px 12px;
    cursor: pointer;
}

.right-inner-addon {
    position: relative;
}

.right-inner-addon input {
    padding-right: 50px;
}

.right-inner-addon i {
    position: absolute;
    right: 0px;
    padding: 10px 12px;
    cursor: pointer;
}

.btn-file input[type=file] {
    position: relative;
    width: 123%;
    margin-top: -27px;
    margin-bottom: -10px;
    margin-left: -13px;
    font-size: 0;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    cursor: inherit !important;
    display: block;
}

.ui-select-multiple input.ui-select-search:not(.ng-touched) {
    width: 100% !important;
}

.angular-ui-tree-handle {
    background: none repeat scroll 0 0 #f3f3f4;
    font-weight: normal !important;
}

.angular-ui-tree-handle:hover {
    font-weight: bold;
    cursor: initial;
}

.tree-node-content {
    margin: 5px 5px 5px 0px;
}


/* -------------------------- UI-SELECT -------------------------- */

.ui-select-match-text {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 10px;
}

table .ui-select-match-text>span {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 34px;
    position: absolute;
}

.ui-select-toggle>.btn.btn-link {
    margin-right: 10px;
    top: 6px;
    position: absolute;
    right: 10px;
}


/* -------------------------- TABS SCROLLBAR  -------------------------- */

.customTabScrollBar::-webkit-scrollbar {
    height: 5px !important;
    margin: 0 5px 0 5px !important;
}

.customTabScrollBar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 10px rgba(170, 170, 170, 0.3) !important;
    border-radius: 3px !important;
    margin: 0 5px 0 5px !important;
}

.customTabScrollBar::-webkit-scrollbar-thumb {
    border-radius: 3px !important;
    -webkit-box-shadow: inset 0 0 10px rgba(170, 170, 170, 0.6) !important;
    margin: 0 5px 0 5px !important;
}


/* .truncate-text: {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
} */


/* -------------------------- SCROLLTABS: ID (GREEN TABS) -------------------------- */


/*#scrollTabs .tabs-container .nav-tabs {
    border-bottom: none;
}

#scrollTabs .tabs-container .nav-tabs .active {
    background-color: white;
}

#scrollTabs .tabs-container .nav-tabs .active > a {
    background-color: #1ab394;
    color: white;
    border-bottom: none;
}

#scrollTabs .tabs-container .nav-tabs > li {
    margin-bottom: -1px;
    border-color: #e7eaec;
}

#scrollTabs .tabs-container .nav-tabs > li a,
#scrollTabs .tabs-container .nav-tabs > li div {
    background: rgba(238, 238, 238, 0.75);
    border-color: #e7eaec;
    cursor: pointer;
}

#scrollTabs .tabs-container .nav-tabs > li a {
    background-color: white;
    color: #1ab394;
}

#scrollTabs .tabs-container .nav-tabs .active > a:hover {
    background-color: rgba(26, 179, 148, 0.75)
}

#scrollTabs .tabs-container .nav-tabs > li a:hover,
#scrollTabs .tabs-container .nav-tabs > li div:hover {
    background-color: rgba(238, 238, 238, 0.75);
    border-color: #e7eaec;
    cursor: pointer;
}

.scrollableTabs > ul {
    overflow-y: auto;
    -webkit-transform: rotateX(180deg);
}

.scrollableTabs > ul > li {
    -webkit-transform: rotateX(180deg);
}*/


/* ---------- INVERSO ----------*/

#scrollTabs .tabs-container .nav-tabs {
    border-bottom: none;
}

#scrollTabs .tabs-container .nav-tabs .active>a {
    background-color: #1ab394;
    color: white;
    border-bottom: none;
}

#scrollTabs .tabs-container .nav-tabs>li {
    margin-bottom: -1px;
    border-color: #e7eaec;
}

#scrollTabs .tabs-container .nav-tabs>li a,
#scrollTabs .tabs-container .nav-tabs>li div {
    background: rgba(238, 238, 238, 0.5);
    border-color: rgba(238, 238, 238, 0.5);
    cursor: pointer;
}

#scrollTabs .tabs-container .nav-tabs>li a {
    background-color: rgba(238, 238, 238, 0.5);
    white-space: nowrap;
}

#scrollTabs .tabs-container .nav-tabs .active>a:hover {
    background-color: #1ab394;
    cursor: default;
}

.uib-tab.disabled a:hover {
    cursor: not-allowed!important;
}

#scrollTabs .tabs-container .nav-tabs>li a:hover,
#scrollTabs .tabs-container .nav-tabs>li div:hover {
    background-color: rgba(238, 238, 238, 0.5);
    border-color: #e7eaec;
    cursor: pointer;
}

.scrollableTabs>ul {
    overflow-y: auto;
    -webkit-transform: rotateX(180deg);
}

.scrollableTabs>ul>li {
    -webkit-transform: rotateX(180deg);
}

.scroll-tabs .tabs-container .nav-tabs>li {
    float: none;
    margin-bottom: -1px;
    border-color: none;
}

.scroll-tabs .tabs-container .nav-tabs>li a {
    white-space: nowrap;
}


/*#scrollTabs .tabs-container .nav-tabs::-webkit-scrollbar {
    height: 9px;
}

#scrollTabs .tabs-container .nav-tabs::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 10px rgba(170, 170, 170, 0.3);
    border-radius: 4px;
}

#scrollTabs .tabs-container .nav-tabs::-webkit-scrollbar-thumb {
    border-radius: 4px;
    -webkit-box-shadow: inset 0 0 10px rgba(170, 170, 170, 0.6);
    width: 10%;
}*/


/* ---------- OTRO ----------- */


/*#scrollTabs .tabs-container .nav-tabs {
    border-bottom: none;
}

#scrollTabs .tabs-container .nav-tabs .active {
    background-color: white;
}

#scrollTabs .tabs-container .nav-tabs .active > a {
    background-color: white;
    color: #1ab394;
    border-bottom: none;
    border-top: 3px solid #1ab394;
}

#scrollTabs .tabs-container .nav-tabs > li {
    float: none;
    margin-bottom: -1px;
    border-color: #1ab394;
}

#scrollTabs .tabs-container .nav-tabs > li a,
#scrollTabs .tabs-container .nav-tabs > li div {
    background: rgba(238, 238, 238, 0.75);
    border-color: #1ab394;
    cursor: pointer;
}

#scrollTabs .tabs-container .nav-tabs > li a {
    background-color: rgba(236,236,236,0.5);
    color: rgba(103, 106, 108, 0.75);
    white-space: nowrap;
}

#scrollTabs .tabs-container .nav-tabs .active > a:hover {
    background-color: rgba(238, 238, 238, 0.5);
}

#scrollTabs .tabs-container .nav-tabs > li a:hover,
#scrollTabs .tabs-container .nav-tabs > li div:hover {
    background-color: rgba(26, 179, 148, 0.75);
    border-color: #1ab394;
    cursor: pointer;
}

#scrollTabs .panel-body {
    border-color: #1ab394;
}

.scrollableTabs > ul {
    overflow-y: auto;
    -webkit-transform: rotateX(180deg);
}

.scrollableTabs > ul > li {
    -webkit-transform: rotateX(180deg);
}*/


/* -------------------- Fixed Box -------------------- */

.shadowed-box {
    background-color: white;
    padding: 10px 0 10px 0;
    margin-bottom: 25px;
    border-bottom: 1px solid #e5e5e5;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, .1);
    -webkit-box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.1);
}

.shadowed-box .bottom-right {
    position: absolute;
    right: 0;
    bottom: 15px;
}

.number-input-text {
    text-align: right !important;
}


/*.number-input-text::-webkit-input-placeholder {
    text-align: left !important;
}

.number-input-text:-moz-placeholder {
    text-align: left !important;
}

.number-input-text::-moz-placeholder {
    text-align: left !important;
}

.number-input-text:-ms-input-placeholder {
    text-align: left !important;
}*/

.sortable-placeholder {
    height: 80px;
}

textarea {
    resize: none;
}

#expandable-bill {
    background-color: #f5f5f5;
}

#expandable-bill .content {
    background-color: white;
    padding: 1%
}

#expandable-bill .content .group {
    display: -webkit-box;
    margin-bottom: 1%;
}

#expandable-bill .content .group .title-label {
    margin-bottom: 0;
    text-align: right;
    padding: 7px 0px 0px 0px;
}

.bg-logo {
    /* background-image: url('../img/main-logo.png'); */
    background-size: 80px;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
}

.alert {
    padding: 5px;
    margin-bottom: 5px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert .control-label {
    padding-top: unset;
}

.btn-group.full-width {
    width: 100%;
}

.btn-group.full-width span {
    width: 33.333333%;
}

.panel-body {
    padding: 10px;
}

.alert-label-padding-top label {
    padding-top: 7px!important;
}

.alert-label-padding-top label::after {
    content: ":";
}

.div-inline {
    height: 6px;
}

table.dataTable>tbody {
    font-size: 11px;
}

table.dataTable>tbody input {
    font-size: 11px;
}

.padding-bottom-buttons {
    padding-bottom: 3px;
}

.input-minus {
    position: relative;
}

.input-minus::before {
    content: "- ";
    padding: 8px 10px;
    position: absolute;
    z-index: 5;
    left: 0;
    top: 0;
}

.input-minus.no-top::before {
    top: unset;
}

span.input-minus,
.input-minus input,
.input-minus span {
    padding-left: 25px;
}

.padding-bottom-2 {
    padding-bottom: 2em;
}

.table-preliquidation-cross {
    display: table;
}

.table-preliquidation-cross>div:first-child {
    width: 75%;
}

.table-preliquidation-cross>div:last-child {
    width: 25%;
    padding-bottom: 28px;
}

.table-preliquidation-cross .table-cell {
    display: table-cell;
    vertical-align: bottom;
    padding-left: 0.75vw;
    padding-right: 0.75vw;
}

.content-padding-top {
    padding-top: 1.5em;
}

.content-padding-bottom {
    padding-bottom: 1.5em;
}

.rowResultOk {
    background-color: #DFF0D8!important;
}

.multi-select .ui-select-match-item {
    text-align: left;
    white-space: normal;
}

.table-ok-guides {
    display: table;
}

.table-cell-ok-guides {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 30%;
}

.table-cell-ok-guides:first-child,
.table-cell-ok-guides:last-child {
    width: 5%;
}

.btn-group .alert-success {
    color: #3c763d!important;
    background-color: #dff0d8!important;
    border-color: #d6e9c6!important;
}

.text-bold {
    font-weight: 700;
}

.table-cell {
    display: table-cell;
    vertical-align: middle;
}

#add-payment-record .amount-red {
    color: red;
}

#add-payment-record .amount-green {
    color: green;
}

#cross-credit-note .amount-red {
    color: red;
}

#cross-credit-note .amount-green {
    color: green;
}

#edit-bill .amount-red {
    color: red;
}

#edit-bill .amount-green {
    color: green;
}

#nodes_renderer .angular-ui-tree-handle {
    background: none repeat scroll 0 0 #ffffff;
    font-weight: normal;
    border: 2px solid #293846;
    border-radius: 12px;
}

#nodes_renderer .angular-ui-tree-handle:hover {
    font-weight: bold;
    cursor: initial;
    background-color: rgba(210, 210, 210, 0.25);
}

#nodes_renderer .tree-node-content {
    margin: 5px 5px 5px 0px;
}

#nodes_renderer .tree-button {
    background-color: transparent;
    border: hidden;
    outline: none;
    width: 100%;
    margin-top: 3px;
    height: 30px;
}

#branches {
    width: 100%
}

#branches .branch-box {
    overflow: hidden;
    min-height: 34px;
    height: inherit;
    width: 100%;
    display: block;
    text-align: left;
    padding: 5px;
}

#branches .branch-box .badge {
    margin: 1%;
    width: 100%;
}

#branches .noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #999999;
    cursor: default;
}

#branches .branch-name {
    text-align: left;
    padding-left: 10px;
    white-space: normal;
}

#branches .branch-icon {
    text-align: right;
    padding: 0 10px;
}

#branches .input-group-addon {
    transform: translateX(-1px);
}

#cross-branches {
    width: 100%
}

#cross-branches .branch-box {
    overflow: hidden;
    min-height: 34px;
    height: inherit;
    width: 100%;
    display: block;
    text-align: left;
    padding: 5px;
}

#cross-branches .branch-box .badge {
    margin: 1%;
    width: 100%;
}

#cross-branches .noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #999999;
    cursor: default;
}

#cross-branches .branch-name {
    text-align: left;
    white-space: normal;
}

#cross-branches .branch-icon {
    text-align: right;
    padding: 0 10px;
}

#cross-branches .input-group-addon {
    transform: translateX(-1px);
}

.input-group-addon.btn.btn-primary {
    background-color: #1AB394;
    border-color: #1AB394;
    color: #FFFFFF;
}

#file-input .table {
    display: table;
}

#file-input .input-group.table {
    margin-bottom: 0!important;
}

#file-input .table .table-cell {
    display: table-cell;
    vertical-align: top;
}

#file-input .table .table-cell.multiple .form-control {
    border: none;
    float: unset;
    display: block;
    height: auto;
}

#file-input .table .file-input-information {
    position: relative;
}

#file-input .table .file-input-information input {
    padding-right: 25px;
}

#file-input .table .file-input-information .action-buttons {
    position: absolute;
    right: 0px;
    top: 6px;
    cursor: pointer;
    z-index: 10;
    padding: 0 5px;
}

#file-input .table .file-input-information.multiple span {
    padding-left: 10px;
}

#file-input .table .file-input-information.multiple .action-buttons {
    left: 0;
    right: unset;
}

.send-button {
    display: inline-block;
    position: relative;
}

.send-button .la-ball-fall {
    position: absolute;
    left: 0;
    text-align: center;
    top: 25%;
    transition-delay: 0s;
    width: 100%;
}

.send-button button[type="submit"] {
    background-color: rgb(25, 172, 142)!important;
    box-shadow: rgba(26, 179, 148, 0.8) 0px 0px 2px, rgba(0, 0, 0, 0.05) 0px 0px 0px 1px inset!important;
    border-color: #18a689!important;
}

#multi-labels div.form-control {
    height: auto;
}

#multi-labels span.label {
    float: left;
    margin: 2px 1%;
}

#multi-labels span.label i {
    cursor: pointer;
}

#multi-labels span.label i:hover {
    color: red;
}

#branch-modal .angular-ui-tree-handle {
    background: none repeat scroll 0 0 #f3f3f4;
    font-weight: normal;
}

#branch-modal .angular-ui-tree-handle:hover {
    font-weight: bold;
    cursor: initial;
}

#branch-modal .tree-node-content {
    margin: 5px 5px 5px 0px;
}

.ibox-title.no-background,
.ibox-content.no-background {
    background-color: transparent !important
}

.row-expandable {
    background: #FFFFFF;
}

tip {
    z-index: 99999!important;
}

.position-relative {
    position: relative;
}

loading {
    background: rgba(0, 0, 0, 0.1);
    position: absolute;
    bottom: 2px;
    left: 2px;
    right: 2px;
    top: 2px;
    z-index: 9;
}

.table-type {
    display: table;
    height: 100%;
    width: 100%;
}

.table-cell-centered {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.notif-block {
    position: relative;
    padding-left: 4em;
}

.notif-icon {
    font-size: 2.5em;
    left: 7px;
    position: absolute;
}

.notif-small {
    font-size: 0.75em;
}

.clearfix {
    margin-bottom: 5px;
}

label.control-label {
    text-align: right;
}


/* based on angular-toastr css https://github.com/Foxandxss/angular-toastr/blob/cb508fe6801d6b288d3afc525bb40fee1b101650/dist/angular-toastr.css */


/* position */

.toast-center-center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.toast-top-center {
    top: 0;
    right: 0;
    width: 100%;
}

.toast-bottom-center {
    bottom: 0;
    right: 0;
    width: 100%;
}

.toast-top-full-width {
    top: 0;
    right: 0;
    width: 100%;
}

.toast-bottom-full-width {
    bottom: 0;
    right: 0;
    width: 100%;
}

.toast-top-left {
    top: 12px;
    left: 12px;
}

.toast-top-right {
    top: 12px;
    right: 12px;
}

.toast-bottom-right {
    right: 12px;
    bottom: 12px;
}

.toast-bottom-left {
    bottom: 12px;
    left: 12px;
}


/* toast styles */

.toast-title {
    font-weight: bold;
}

.toast-message {
    word-wrap: break-word;
}

.toast-message a,
.toast-message label {
    color: #FFFFFF;
}

.toast-message a:hover {
    color: #CCCCCC;
    text-decoration: none;
}

.toast-close-button {
    position: relative;
    right: -0.3em;
    top: -0.3em;
    float: right;
    font-size: 20px;
    font-weight: bold;
    color: #FFFFFF;
    text-shadow: 0 1px 0 #ffffff;
    /* opacity: 0.8; */
}

.toast-close-button:hover,
.toast-close-button:focus {
    color: #000000;
    text-decoration: none;
    cursor: pointer;
    opacity: 0.4;
}


/*Additional properties for button version
   iOS requires the button element instead of an anchor tag.
   If you want the anchor version, it requires `href="#"`.*/

button.toast-close-button {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
}

.toast-container {
    pointer-events: none;
    position: fixed;
    z-index: 999999;
}

.toast-container * {
    box-sizing: border-box;
}

.toast-container .toast {
    position: relative;
    overflow: hidden;
    margin: 0 0 6px;
    padding: 15px 15px 15px 50px;
    width: 300px;
    border-radius: 3px 3px 3px 3px;
    background-position: 15px center;
    background-repeat: no-repeat;
    background-size: 24px;
    box-shadow: 0 0 12px #999999;
    color: #FFFFFF;
}

.toast-container .toast:hover {
    box-shadow: 0 0 12px #000000;
    opacity: 1;
    cursor: pointer;
}


/* https://github.com/FortAwesome/Font-Awesome-Pro/blob/master/advanced-options/raw-svg/regular/info-circle.svg */

.toast-info {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='512' height='512'%3E%3Cpath fill='rgb(255,255,255)' d='M256 8C119.043 8 8 119.083 8 256c0 136.997 111.043 248 248 248s248-111.003 248-248C504 119.083 392.957 8 256 8zm0 110c23.196 0 42 18.804 42 42s-18.804 42-42 42-42-18.804-42-42 18.804-42 42-42zm56 254c0 6.627-5.373 12-12 12h-88c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h12v-64h-12c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h64c6.627 0 12 5.373 12 12v100h12c6.627 0 12 5.373 12 12v24z'/%3E%3C/svg%3E");
}


/* https://github.com/FortAwesome/Font-Awesome-Pro/blob/master/advanced-options/raw-svg/regular/times-circle.svg */

.toast-error {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='512' height='512'%3E%3Cpath fill='rgb(255,255,255)' d='M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm121.6 313.1c4.7 4.7 4.7 12.3 0 17L338 377.6c-4.7 4.7-12.3 4.7-17 0L256 312l-65.1 65.6c-4.7 4.7-12.3 4.7-17 0L134.4 338c-4.7-4.7-4.7-12.3 0-17l65.6-65-65.6-65.1c-4.7-4.7-4.7-12.3 0-17l39.6-39.6c4.7-4.7 12.3-4.7 17 0l65 65.7 65.1-65.6c4.7-4.7 12.3-4.7 17 0l39.6 39.6c4.7 4.7 4.7 12.3 0 17L312 256l65.6 65.1z'/%3E%3C/svg%3E");
}


/* https://github.com/FortAwesome/Font-Awesome-Pro/blob/master/advanced-options/raw-svg/regular/check.svg */

.toast-success {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='512' height='512'%3E%3Cpath fill='rgb(255,255,255)' d='M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z'/%3E%3C/svg%3E");
}


/* https://github.com/FortAwesome/Font-Awesome-Pro/blob/master/advanced-options/raw-svg/regular/exclamation-triangle.svg */

.toast-warning {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 576 512' width='576' height='512'%3E%3Cpath fill='rgb(255,255,255)' d='M569.517 440.013C587.975 472.007 564.806 512 527.94 512H48.054c-36.937 0-59.999-40.055-41.577-71.987L246.423 23.985c18.467-32.009 64.72-31.951 83.154 0l239.94 416.028zM288 354c-25.405 0-46 20.595-46 46s20.595 46 46 46 46-20.595 46-46-20.595-46-46-46zm-43.673-165.346l7.418 136c.347 6.364 5.609 11.346 11.982 11.346h48.546c6.373 0 11.635-4.982 11.982-11.346l7.418-136c.375-6.874-5.098-12.654-11.982-12.654h-63.383c-6.884 0-12.356 5.78-11.981 12.654z'/%3E%3C/svg%3E");
}

.toast-container.toast-top-center .toast,
.toast-container.toast-bottom-center .toast {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.toast-container.toast-top-full-width .toast,
.toast-container.toast-bottom-full-width .toast {
    width: 96%;
    margin-left: auto;
    margin-right: auto;
}

.toast {
    background-color: #030303;
    pointer-events: auto;
}

.toast-success {
    background-color: #51A351;
}

.toast-error {
    background-color: #BD362F;
}

.toast-info {
    background-color: #2F96B4;
}

.toast-warning {
    background-color: #F89406;
}

.toast-progress {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    background-color: #000000;
    opacity: 0.4;
}


/* Responsive Design */

@media all and (max-width: 240px) {
    .toast-container .toast.div {
        padding: 8px 8px 8px 50px;
        width: 11em;
    }
    .toast-container .toast-close-button {
        right: -0.2em;
        top: -0.2em;
    }
}

@media all and (min-width: 241px) and (max-width: 480px) {
    .toast-container .toast.div {
        padding: 8px 8px 8px 50px;
        width: 18em;
    }
    .toast-container .toast-close-button {
        right: -0.2em;
        top: -0.2em;
    }
}

@media all and (min-width: 481px) and (max-width: 768px) {
    .toast-container .toast.div {
        padding: 15px 15px 15px 50px;
        width: 25em;
    }
    @import "~@ng-select/ng-select/themes/default.theme.css";
}