<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-md-10">
        <h2>{{ displayName }}</h2>
        <ol class="breadcrumb">
            <li *ngFor="let crumb of breadcrumbs" ng-class="{ active: crumb.last }">
                <a [routerLink]="[crumb.url]" *ngIf="!crumb.last && !crumb.abstract">{{ crumb.displayName }}&nbsp;</a>
                <span *ngIf="!crumb.last && crumb.abstract">{{ crumb.displayName }}&nbsp;</span>
                <span *ngIf="crumb.last" style="font-weight: bold;">{{ crumb.displayName }}</span>
            </li>
        </ol>
    </div>
    <div class="col-md-2"></div>
</div>