<div id="login" class="col-md-12 col-xs-12 fadeInDown">
    <div class="col-md-4"></div>
    <div class="col-md-4 col-xs-12 text-center bottom-space">
        <img class="logo" src="{{logoPath}}">
    </div>
    <div class="col-md-4"></div>
    <div class="clearfix"></div>

    <div class="col-md-4"></div>
    <div class="col-md-4 col-xs-12 text-center">
        <div class="col-md-2"></div>
        <div class="col-md-8 col-xs-12">
            <h2>Iniciar Sesión</h2>

            <form class="m-t" role="form" name="form1" (ngSubmit)="login(f)" #f="ngForm">
                <div class="form-group to-validate">
                    <input appValidation id="log" name="log" type="text" class="form-control" placeholder="Usuario" [(ngModel)]="credentials.username" required>
                </div>

                <div class="form-group to-validate">
                    <input appValidation id="pass" name="pass" type="password" class="form-control" placeholder="Contraseña" [(ngModel)]="credentials.password" required>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary block full-width m-b">Aceptar</button>
                </div>

                <a (click)="passwordForgotten()"><small>¿Olvidó su contraseña?</small></a>
            </form>
        </div>
        <div class="col-md-2"></div>
        <div class="clearfix"></div>
    </div>
    <div class="col-md-4"></div>
    <div class="clearfix"></div>
</div>